<div class="container_div">
    <div class="login_card">
        <h1 class="card-title">Log in to the Internal Portal</h1>
        <hr>
        <div class="image-container">
            <img src="../../assets/images/logo.png" alt="Circular Image" class="circular-image">
        </div>

        <br>
        <div class="login-form">
            <jsonforms [data]="formData" [schema]="formModel" [uischema]="formUIModel" [renderers]="renderers" (dataChange)="onFormChange($event)" style="width: 65%; max-width: 70%;">
            </jsonforms>
            <br>
            <button mat-raised-button color="primary" class="login-button" (click)="onSubmit()">Login</button>
        </div>
    </div>
</div>