.login-page{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */

}

.p-0 {
    padding: 0 !important;
}

.vh-100 {
    height: 100vh !important;
}
