table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table th {
    color: #0e0c12;
    font-size: 1.2em;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}


td,
th {
    white-space: nowrap;
}

/* set the size of first column to 40px */
th:first-child,
td:first-child {
    width: 40px;
}

.options_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refresh-button {
    color: rgb(131, 129, 129);
}

.success-button {
    color: green;
}

.edit-button {
    color: rgb(0, 0, 0);
}

.view-button {
    color: rgb(51, 10, 253);
}

.delete-button {
    color: rgb(255, 0, 0);
}

::ng-deep .mat-paginator {
    width: 100%;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}